---
import Layout from "../layouts/Layout.astro";
// import styles from '../layouts/styles.module.scss';
// import GreetingCard from "../components/GreetingCard.astro";
// import Card from "../components/Card.astro";
import ProductCard from "../components/ProductCard.astro";
import Button from "../components/Button.astro";
---

<Layout title="Welcome to Astro.">
  <main class="container">
    <!-- <GreetingCard />	
	   <Card title='Welcome to Astro'  />	 -->
    <div class="flex">
      <ProductCard />
      <ProductCard />
      <ProductCard />
    </div>
    <div class="flex">
      <Button />
    </div>
  </main>
</Layout>

<style>
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
</style>
