---
// import styles from "./button.module.scss";
---

<button class="primary-button">Button</button>
<button class="secondary-button">Button</button>

<style>
  .primary-button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 8px;
    background: var(--primaryColor);
    color: var(--white);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
  }
  .secondary-button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #82868c;
    color: #82868c;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
  }
</style>
