---
const { title, isPrimary, isSecondary } = Astro.props;
---

<button class:list={{ primaryBtn: isPrimary, secondaryBtn: isSecondary }}>
  {title}
</button>

<style>
  .primaryBtn {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 8px;
    background: var(--primaryColor);
    color: var(--white);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-block: 10px;
  }
  .secondaryBtn {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #82868c;
    color: #82868c;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-block: 10px;
  }
</style>
