<div class="primary-button">Button</div>
<style>
  .primary-button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--primaryColor);
    color: var(--white);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
  }
</style>
